<app-navbar [rol]="datos.currentUser.rol" nombre="Visitante"></app-navbar>

<div class="row">
  <div class="col-md-2">
    <!-- Inicia -->
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" [ngClass]="{'active':numero==2}" (click)="mostrar(2)">Consultar</a>
      <a class="list-group-item list-group-item-action bg-light disabled">Opciones</a>
    </div>
    <!-- Termina -->
  </div>
  <div class="col-md-10">
    <app-consultar *ngIf="numero==2"></app-consultar>
  </div>
</div>

