.search-box {
    padding: 8px;
}

.search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.search-box button {
    width: 90px;
}

.search-button {
    margin-right: 8px;
}

.star {
    font-size: 1.5rem;
    color: rgb(175, 175, 175);
}

.filled {
    color: rgb(255, 208, 0);
}

.badge {
    font-size: 15px;
}

.btn {
    font-size: 10px;
}
